:root[data-theme="light"] {
    --text: #0c1313;
    --background: #f6f9f9;
    --background-50: #f0f5f5;
    --primary: #6da0a2;
    --secondary: #b1bdcd;
    --accent: #8f97b7;
}
:root[data-theme="dark"] {
    --text: #ecf3f3;
    --background: #060909;
    --background-50: #0a0f0f;
    --primary: #5d9092;
    --secondary: #323e4e;
    --accent: #485070;
}
:root{
    --textSizeMid: 16px;
    --textSizeLArge: 30px;
    --displayMargin: 20px;
}

body{
    margin: var(--displayMargin)
    
}

.container button{
    border: none;
    margin: 10px;
}

.container input{
    border: none;
    margin: var(--displayMargin);
    background-color: var(--background-50);
    padding: 10px 20px;
    border-radius: 50px;
}

.extendedFab{
    padding: 15px 30px;
    border-radius: 15px;
    background-color: var(--primary);
}

.fab{
    padding: 10px 20px;
    border-radius: 50px;
    background-color: var(--secondary);
}

.defaultCard{
    border: none;
}
